@model MusicFall2016.Models.Album

@{ViewData["Title"] = "Details"; }

<h2>Album Details</h2>

<div class="row">
    <label class="col-md-2">Title:</label>
    <div class="col-md-10">@Model.Title</div>
</div>
<div class="row">
    <label class="col-md-2">Artist:</label>
    <div class="col-md-10">@Model.Artist.Name</div>
</div>
<div class="row">
    <label class="col-md-2">Artist Bio:</label>
    <div class="col-md-10">@Model.Artist.Bio</div>
</div>
<div class="row">
    <label class="col-md-2">Genre:</label>
    <div class="col-md-2">@Model.Genre.Name</div>
</div>
<div class="row">
    <label class="col-md-2">Price:</label>
    <div class="col-md-2">@Model.Price</div>
</div>
<div class="row">
    <label class="col-md-2">Likes:</label>
    <div class="col-md-2">@Model.Likes</div>
</div>
<br />
<div>
    <h4>Check out these suggested albums:</h4>
    <ul>
            @foreach (var album in ViewBag.Suggest)
            {
                <li>@album.Title</li>
            }
</ul>
</div>
<br />
<form asp-action="Like" asp-route-id="@Model.AlbumID" class="inline">
    <button type="submit" class="btn">Like</button>
</form> &nbsp
<a asp-action="Edit" asp-route-id="@Model.AlbumID" class="btn btn-primary btn-danger">Edit</a> &nbsp
<a class="btn btn-primary btn-default" asp-controller="Playlists" asp-action="AddAlbum" asp-route-id="@Model.AlbumID">Playlist+</a> &nbsp
<a asp-action="Index" class="btn btn-default">Back to list</a>

