@model IEnumerable<MusicFall2016.Models.Album>
@{
    ViewData["Title"] = "Albums";
}
<h2>Album List</h2>
<div><a asp-action="Create" class="btn btn-danger">Add an Album</a></div>
<br />
<form class="form-inline">
    <div class="form-group">
        <input type="search" name="search"/>
    </div>
    <button type="submit" class="btn btn-info btn-sm">Search your music</button>
    @if (!string.IsNullOrEmpty(ViewBag.Search))
    {
        <a asp-action="Index" class="btn btn-sm btn-danger">Back to List</a>

    }
</form>
<br />
<table class="table">
    <thead>
        <tr class="bg-primary">
            <th>Title</th>
            <th><a asp-action="Index" asp-route-search="@ViewBag.Search" asp-route-sort="@ViewBag.ArtistSort" id="link">Artist</a></th>
            <th><a asp-action="Index" asp-route-search="@ViewBag.Search" asp-route-sort="@ViewBag.GenreSort" id="link">Genre</a></th>
            <th><a asp-action="Index" asp-route-search="@ViewBag.Search" asp-route-sort="@ViewBag.PriceSort" id="link">Price</a></th>
            <th><a asp-action="Index" asp-route-search="@ViewBag.Search" asp-route-sort="@ViewBag.LikesSort" id="link">Likes</a></th>
        </tr>
    </thead>
    @foreach (var album in Model)
    {
        <tr>
            <td>@album.Title</td>
            <td>@album.Artist.Name</td>
            <td>@album.Genre.Name</td>
            <td>@album.Price</td>
            <td>@album.Likes</td>
            <td>
                <form asp-action="Like" asp-route-id="@album.AlbumID" class="inline">
                    <button type="submit" class="btn btn-sm btn-default">Like</button>
                </form>|
                <a class="btn btn-sm btn-default" asp-controller="Playlists" asp-action="AddAlbum" asp-route-id="@album.AlbumID">Add to Playlist</a> |
                <a class="btn btn-sm btn-default" asp-action="Details" asp-route-id="@album.AlbumID">Details</a> |
                <a class="btn btn-sm btn-default" asp-action="Edit" asp-route-id="@album.AlbumID">Edit</a> |
                <a class="btn btn-sm btn-default" asp-action="Delete" asp-route-id="@album.AlbumID">Delete</a>
            </td>
        </tr>
    }
</table>


